
@{
    ViewData["Title"] = "Contact me";
}

<div class="contactmain">
            <h1>Contact me</h1>
            <img class="photo" src="~/images/contactme.png" />
            <p class="text">Tel : @ViewBag.Tele</p>
            <p class="text">Email : @ViewBag.email</p>
            <p class="text">LinkedIn : <a href=@ViewBag.LinkedIn target="_blank" class="link"> Wei Cao</a></p>
        </div>

 
    

