
@{
    ViewData["Title"] = "Myprojects";
}

<div class="contactmain">
    
        <h1>My Projects</h1>
        <p class="ml-5">
            As a part of learning,  I have made some projects when I study programmering.Net, which you can find in my GitHub account. <a href=@ViewBag.Github target="_blank" class="link">Go to my Github</a>
        </p>
        <ul>
            <li>
                <p><a href=@ViewBag.Sokoban target="_blank">Sokoban Game</a></p>
            </li>
            <li>
                <p><a href=@ViewBag.Myweb target="_blank">My web (Frontend)</a></p>
            </li>
            <li>
                <p><a href=@ViewBag.VendingMachine target="_blank">Vending Machine</a></p>
            </li>
            <li>
                <p><a href=@ViewBag.Mvc target="_blank">MVC (Backend)</a></p>
            </li>
            <li>
                <p><a href=@ViewBag.HangMan target="_blank">HangMan Game</a></p>
            </li>
        </ul>

</div>
